<!--Changing the content of this file will impact the VCI export workflows-->
<ExportExtensions>
  <ExportExtension ObjectId="HMI Unified Global Scripts" Value="SIMATIC SD(.yml, .js)" />
  <ExportExtension ObjectId="Code blocks - LAD" Value="SIMATIC SD(.s7dcl, .s7res)" />
  <ExportExtension ObjectId="Code blocks - FBD" Value="SIMATIC SD(.s7dcl, .s7res)" />
  <ExportExtension ObjectId="Code blocks - SCL" Value="SIMATIC SD(.s7dcl, .s7res)" />
  <ExportExtension ObjectId="Code blocks - STL" Value=".awl" />
  <ExportExtension ObjectId="Code blocks - GRAPH" Value=".xml" />
  <ExportExtension ObjectId="Data blocks" Value="SIMATIC SD(.s7dcl, .s7res)" />
  <ExportExtension ObjectId="Safety data blocks (F-DBs)" Value="SIMATIC SD(.s7dcl, .s7res)" />
  <ExportExtension ObjectId="PLC data types" Value="SIMATIC SD(.s7dcl, .s7res)" />
  <ExportExtension ObjectId="F-compliant PLC data types (UDT)" Value="SIMATIC SD(.s7dcl, .s7res)" />
  <ExportExtension ObjectId="PLC tag tables" Value=".xml" />
  <ExportExtension ObjectId="Technology objects" Value=".xml" />
</ExportExtensions>